@import "normalize";
.score-board {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
  th {
    border: 2px solid black;
    padding: 5px;
  }
}
.expert {
  border: 2px solid red;
}
.sudoku-table {
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 16pt;

  td {
    border: 1px solid black;
    width: 20px;
    height: 20px;
  }

  input {
    width: 20px;
    height: 20px;
    border: 0px;
    text-align: center;
    font-size: normal;
  }
}

.controls {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  * {
    margin-left: 5px;
  }
}

.i2,
.i5 {
  border-bottom: 3px solid black !important;
}

.j2,
.j5 {
  border-right: 3px solid black !important;
}

.not-editable {
  input {
    font-weight: bold;
  }
}

.has-conflict {
  input {
    color: red;
  }
}

@media (min-width: 600px) {
  .sudoku-table {
    margin-top: 50px;
    td {
      width: 40px;
      height: 40px;
    }

    input {
      width: 40px;
      height: 40px;
      font-size: large;
    }
  }

  .controls {
    width: 400px;
  }
}
@media (min-width: 800px) {
  .sudoku-table {
    td {
      width: 60px;
      height: 60px;
    }

    input {
      width: 60px;
      height: 60px;
      font-size: xx-large;
    }
  }
}

.dialog {
  background-color: #f0f0f0;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  * {
    margin-left: 5px;
    font-size: 20px;
  }
}

.dialog-close {
  position: relative;
  top: 2px;
  right: 2px;
}

.congratulations {
  color: red;
}

.index {
  text-align: center;
}
